<!--概述 页面-->
<div class="principle-body">
    <div class="dynamo">
        <div class="fans">
            <span class="fans1 fan-grey "></span>
            <span class="fans2 fan-grey "></span>
            <span class="fans3 fan-grey "></span>
        </div>
        <div class="fans-mask">
            <span class="fans4 fan-mask "></span>
            <span class="fans5 fan-mask "></span>
            <span class="fans6 fan-mask "></span>
        </div>

        <span class="megnet"></span>
    </div>

    <div class="prin-line"></div>

</div>
