.AppText {
    margin: 0 auto;
    padding: 5px;
    position: relative;
    min-height: 40px;
    // width: 600px;

    .div {
        width: 520px;
        display: block;
        background: #757575;
        box-sizing: border-box;
        padding: 0.625rem /* 10/16 */ 0.9375rem; /* 15/16 */
        position: absolute;
        bottom: -200px;
        left: 50px;
        text-align: left;
        border-radius: 4px;
        line-height: 22px;

        p {
            line-height: 22px;
            font-size: 16px;
            color: #fff;
        }
    }

    img {
        width: 30px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}