<div class="test-body">
    <div class="hotareareal" (click)="alertPartShow()"></div>
    <!-- <div class="hotareareal1" (click)="alertPartShow1()"></div> -->
  
    <div class="hotareatest" (click)="alertPartShow()"></div>
    <!-- <div class="hotareatest1"></div> -->
    <div class="alert-part" *ngIf='this.appService.progressData.describeFlag==12' style='display:none;'>
      <div class="closeAlertPart" (click)="alertPartHide()">X</div>
      <a class="hot1 hot" wybredPosition="10" wybblackPosition="10" rqPosition="1013" h-left="192" h-top="250"></a>
      <a class="hot2 hot" wybredPosition="20" wybblackPosition="20" rqPosition="1014" h-left="214" h-top="250"></a>
      <a class="hot3 hot" wybredPosition="30" wybblackPosition="30" rqPosition="1015" h-left="241" h-top="250"></a>
      <a class="hot4 hot" wybredPosition="40" wybblackPosition="40" rqPosition="1026" h-left="639" h-top="151">
        <b>搭铁</b>
      </a>
    </div>
    <!-- <div class="hotareatest1"></div> -->
    <div class="alert-part" *ngIf='this.appService.progressData.describeFlag==16' style='display:none;'>
      <div class="closeAlertPart" (click)="alertPartHide()">X</div>
      <a class="hot1 hot" wybredPosition="1" wybblackPosition="1" rqPosition="2013" h-left="192" h-top="250"></a>
      <a class="hot2 hot" wybredPosition="2" wybblackPosition="2" rqPosition="2014" h-left="214" h-top="250"></a>
      <a class="hot3 hot" wybredPosition="3" wybblackPosition="3" rqPosition="2015" h-left="241" h-top="250"></a>
      <a class="hot4 hot" wybredPosition="4" wybblackPosition="4" rqPosition="2016" h-left="639" h-top="151">
        <b>搭铁</b>
      </a>
    </div>
  
  
    <div class="alert-part" *ngIf='this.appService.progressData.describeFlag==22' style='display:none;'>
      <div class="closeAlertPart" (click)="alertPartHide()">X</div>
      <a class="hot1 hot" wybredPosition="5" wybblackPosition="5" rqPosition="1016" h-left="192" h-top="250"></a>
      <a class="hot2 hot" wybredPosition="6" wybblackPosition="6" rqPosition="1017" h-left="214" h-top="250"></a>
      <a class="hot3 hot" wybredPosition="7" wybblackPosition="7" rqPosition="1018" h-left="241" h-top="250"></a>
      <a class="hot4 hot" wybredPosition="8" wybblackPosition="8" rqPosition="1019" h-left="639" h-top="151">
        <b>搭铁</b>
      </a>
    </div>
    <!-- <div class="alert-part" *ngIf='this.appService.progressData.describeFlag==26' style='display:none;'>
      <div class="closeAlertPart" (click)="alertPartHide()"style='font-size:50px'>X</div>
      <a class="hot1 hot" wybredPosition="5" wybblackPosition="5" rqPosition="2017" h-left="735" h-top="532"></a>
      <a class="hot2 hot" wybredPosition="6" wybblackPosition="6" rqPosition="2018" h-left="815" h-top="536"></a>
      <a class="hot3 hot" wybredPosition="7" wybblackPosition="7" rqPosition="2019" h-left="898" h-top="550"></a>
      <a class="hot4 hot" wybredPosition="8" wybblackPosition="8" rqPosition="2020" h-left="1760" h-top="570">
        <b>搭铁</b>
      </a>
    </div> -->
  
  
  
    <!-- <div class="alert-part1">
      <div class="closeAlertPart" (click)="alertPartHide1()"style='font-size:50px'>X</div>
  
      <a class="hot5 hot" wybredPosition="5" wybblackPosition="5" rqPosition="1007" h-left="581" h-top="101"></a>
      <a class="hot6 hot" wybredPosition="6" wybblackPosition="6" rqPosition="1008" h-left="604" h-top="102"></a>
      <a class="hot7 hot" wybredPosition="7" wybblackPosition="7" rqPosition="1009" h-left="614" h-top="122"></a>
      <a class="hot8 hot" wybredPosition="8" wybblackPosition="8" rqPosition="1010" h-left="623" h-top="140"></a>
      <a class="hot9 hot" wybredPosition="9" wybblackPosition="9" rqPosition="1011" h-left="614" h-top="159"></a>
      <a class="hot10 hot" wybredPosition="10" wybblackPosition="10" rqPosition="1012" h-left="602" h-top="178"></a>
  
    </div> -->
  </div>
  