.oscilloscope-contain {
    /*	position: absolute;
        width:1024px;
        height: 530px;
        top: 0px;
        left: 0px;
        z-index:6;*/
}

.oscilloscope {
    z-index: 60;
    position: absolute;
    top: 319px;
    left: 372px;
    width: 270px;
    height: 239px;
}

.oscilloscope-body {
    position: absolute;
    width: 276px;
    height: 257px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: url("./images/oscilloscope.png") no-repeat;
}

.oscilloscope .coe {
    width: 44px;
    height: 44px;
    text-align: right;
    position: absolute;
    top: -6px;
    left: 240px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    z-index: 1112;
    background: url(./images/close.png) no-repeat center center;
}

.oscilloscope-antenna-left {
    position: absolute;
    width: 34px;
    height: 181px;
    top: 146px;
    left: 440px;
    z-index: 30;
    background: url("./images/oscilloscope_r.png");
}

.oscilloscope-antenna-right {
    position: absolute;
    width: 34px;
    height: 181px;
    top: 146px;
    left: 541px;
    z-index: 30;
    background: url("./images/oscilloscope_r.png");
}

.oscilloscope-red {
    position: absolute;
    width: 34px;
    height: 247px;
    top: 320px;
    left: 340px;
    z-index: 60;
    background: url("./images/oscilloscope_l.png") no-repeat;
}

.oscilloscope-black {
    position: absolute;
    width: 34px;
    height: 247px;
    top: 320px;
    left: 645px;
    z-index: 60;
    background: url("./images/oscilloscope_l.png") no-repeat;
}

#oscilloscopeHot-red {
    // background-color: red;
    position: absolute;
    width: 34px;
    height: 47px;
    top: 520px;
    left: 340px;
    z-index: 61;
    cursor: move;
}

#oscilloscopeHot-black {
    // background-color: black;
    position: absolute;
    width: 34px;
    height: 47px;
    top: 520px;
    left: 645px;
    z-index: 61;
    cursor: move;
}

.oscilloscope-clip {
    position: absolute;
    width: 112px;
    height: 65px;
    top: 116px;
    left: 643px;
    background: url("./images/oscilloscope_clip.png") no-repeat;
    z-index: 9;
}

#oscilloscope-svg,
#oscilloscope-svg2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.oscilloscope_needle_hot {
    position: absolute;
    top: 242px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #000;
    opacity: 1;
    cursor: move;
    z-index: 32;
}

.oscilloscopeData {
    position: absolute;
    top: 34px;
    left: 35px;
    width: 205px;
    height: 173px;
    .text {
        position: absolute;
        top: 180px;
        left: 0px;
    }
}

.waveform {
    position: relative;
    top: 1px;
    left: -1px;
    width: 210px;
    height: 132px;
    overflow: hidden;
}

ul,
li {
    list-style: none
}

.waveform ul {
    position: absolute;
    width: 10000px;
    height: 132px;
}

.wave {
    float: left;
    /*width: 287px;*/
    height: 120px;
}

.oscilloscopeData p {
    float: left;
    color: yellow;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.oscilloscopeData p span {
    width: 50px;
}