<div class='knowledge-body'>
    <!-- 诊断流程 -->
    <div class='gaishu' *ngIf='4===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1">
            <div class="left">
                <p class="gaishu-p1">常见故障的诊断流程：</p>
                <ul>
                    <li>一、确认故障现象</li>
                    <li>二、用诊断仪读取故障码或数据流</li>
                    <li>三、分析故障原因</li>
                    <li>四、查找相关资料</li>
                    <li>五、确认检测对象</li>
                    <li>六、检测维修</li>
                    <li>七、结果验证</li>
                </ul>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/img3.png" alt="" srcset="" style="width: 324px;height: 393px;margin-top: 87px;">
            </div>
        </div>
    </div>
    <!-- 故障原因 -->
    <div class='gaishu' *ngIf='5===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="align-items: center;">
            <div class="left">
                <p class="gaishu-p1">导致驱动电机不工作的故障原因：</p>
                <ul class="gaishu-ul1">
                    <li>动力电池供电系统故障；</li>
                    <li>控制模块电源、CAN网络故障；</li>
                    <li>驱动电机电路故障；</li>
                    <li>电机温度传感器电路故障；</li>
                    <li>电机转速位置传感器电路故障；</li>
                    <li>档位开关电路故障；</li>
                    <li>制动开关电路故障等；</li>
                </ul>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/img4.png" alt="" srcset="" style="width: 350px;height: 330px;position: relative;top: 120px;right: 80px">
            </div>
        </div>
    </div>
    <!-- 诊断方法 -->
    <div class='gaishu' *ngIf='6===this.appService.progressData.describeFlag'>
        <p style="font-weight: bold;width: 100%;text-indent: 0;height: 0;margin-top: 120px;">动力电池供电系统故障</p>
        <p style="text-indent: 0;">通过高压接触器的动作来判断动力电池供电系统是否工作正常。</p>
        <div style="display: flex;margin-top: 20px;">
            <img src="./assets/images//knowledge/knowledge01.png" alt="" srcset="" style="height: 100%;margin-left: 80px;">
        </div>
        <text-introduction [data]='jgonetxt1'></text-introduction>
    </div>
    <!-- <div class='gaishu' *ngIf='7===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">高压盒故障：</p>
                <p style="text-indent: 0;width: 100%;">通过检查分配盒内的保险和线路是否正常来判断。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/img5.png" alt="" srcset="" style="width: 242px;height: 471px;margin-right:79px;">
            </div>
        </div>
    </div> -->
    <div class='gaishu' *ngIf='7===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">控制模块供电及CAN网络故障</p>
                <p style="text-indent: 0;width: 100%;">对控制模块电源、CAN网络进行检查。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/knowledge02.png" alt="" srcset="" style="height: 100%; bottom: 50px;">
            </div>
        </div>
        <text-introduction [data]='jgonetxt2'></text-introduction>
    </div>
    <div class='gaishu' *ngIf='8===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">驱动电机电路故障</p>
                <p style="text-indent: 0;width: 100%;">检查电机内部线圈的阻值，以及线圈与外壳的绝缘阻值是否正常。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/knowledge03.png" alt="" srcset="" style="height: 60%;">
            </div>
        </div>
        <text-introduction [data]='jgonetxt3'></text-introduction>
    </div>
    <!-- <div class='gaishu' *ngIf='10===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2" style="margin-bottom: 30px;">整车控制模块故障：</p>
                <p style="text-indent: 0;width: 100%;">首先用诊断仪查看其通讯情况，如有相关故障码，按照故障码引导进行诊断，并用万用表检查其电源和接地电路。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/img9.png" alt="" srcset="" style="width: 382px;height: 344px;margin: auto;">
            </div>
        </div>
    </div>
    <div class='gaishu' *ngIf='11===this.appService.progressData.describeFlag'>
        <p style="font-weight: bold;width: 100%;text-indent: 0;height: 0;margin-top: 90px;">网络通讯故障———单个模块不能通讯：</p>
        <p style="text-indent: 0;">检查模块的电源、接地、与模块相关的网络分支以及模块本身。</p>
        <div style="display: flex;margin-top: 20px;">
            <img src="./assets/images//knowledge/img10.png" alt="" srcset="" style="width: 625px;height: 235px;margin: auto;margin-top: 40px;">
        </div>
    </div>
    <div class='gaishu' *ngIf='12===this.appService.progressData.describeFlag'>
        <p style="font-weight: bold;width: 100%;text-indent: 0;height: 0;margin: 90px 0 70px 0;">网络通讯故障———多个模块不能通讯：</p>
        <p style="text-indent: 0;">检查多个模块公用的电源、接地以及线路是否存在异常；在电路工作情况下，通过测量电压判断线路是否正常；在断电情况下，通过测量终端电阻判断线路是否正常，最后通过插拔单个模块，观察电路的电压和电阻值是否恢复正常，来判断该模块是否正常。</p>
        <div style="display: flex;margin-top: 20px;">
            <img src="./assets/images//knowledge/img10.png" alt="" srcset="" style="width: 625px;height: 235px;margin: auto;margin-top: 40px;">
        </div>
    </div>
    <div class='gaishu' *ngIf='13===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2" style="margin-bottom: 100px;">高压线束故障：</p>
                <p style="text-indent: 0;width: 100%;">通过检查与驱动电机系统相关的高压线路是否存在断路、短路以及接触不良等情况。</p>
            </div>
            <img src="./assets/images//knowledge/img11.png" alt="" srcset="" style="width: 390px;">
        </div>
    </div> -->
    <div class='gaishu' *ngIf='9===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">电机温度传感器电路故障</p>
                <p style="text-indent: 0;width: 100%;">查看是否有与故障相关的故障码，用万用表测量传感器的电源和搭铁、传感器线圈的阻值，判断传感器线路是否正常。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/knowledge04.png" alt="" srcset="" style="height: 100%;">
            </div>
        </div>
        <text-introduction [data]='jgonetxt4'></text-introduction>
    </div>
    <!-- <div class='gaishu' *ngIf='15===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">点火开关故障：</p>
                <p style="text-indent: 0;width: 100%;">打开点火开关，通过观察仪表指示灯的点亮情况来判断，也可以用万用表对点火开关的线束进行检查。</p>
            </div>
            <img src="./assets/images//knowledge/img13.png" alt="" srcset="" style="width: 346px;height: 370px;">
        </div>
    </div> -->
    <div class='gaishu' *ngIf='10===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">档位开关电路故障</p>
                <p style="text-indent: 0;width: 100%;">观察诊断仪数据流，或者通过挂挡，观察仪表档位指示，其次用万用表对其电源、接地和信号电路进行检查。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/knowledge05.png" alt="" srcset="" style="height: 100%;">
            </div>
        </div>
        <text-introduction [data]='jgonetxt5'></text-introduction>
    </div>
    <div class='gaishu' *ngIf='11===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">制动开关电路故障</p>
                <p style="text-indent: 0;width: 100%;">观察踩刹车时制动灯和诊断仪的数据流，然后用万用表对其电源、接地和信号电路进行检查。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/knowledge06.png" alt="" srcset="" style="width: 50%;left: 100px;">
            </div>
        </div>
        <text-introduction [data]='jgonetxt6'></text-introduction>
    </div>
    <div class='gaishu' *ngIf='12===this.appService.progressData.describeFlag'>
        <div class="gaishu-div1" style="margin-top: 150px;">
            <div class="left">
                <p class="gaishu-p2">电机转速位置传感器电路故障</p>
                <p style="text-indent: 0;width: 100%;">查看是否有与故障相关的故障码，然后用万用表测量传感器电源、搭铁和线圈的阻值。</p>
            </div>
            <div class="right">
                <img src="./assets/images//knowledge/knowledge07.png" alt="" srcset="" style="left: 60px;height: 100%;">
            </div>
        </div>
        <text-introduction [data]='jgonetxt7'></text-introduction>
    </div>
    <!-- 左侧点击箭头出现的内容 -->
    <div *ngIf='true' [@flyIn]="sceneLeftNavAnimation " class="scene-left-nav ">
        <ul>
            <li [ngClass]="{ 'clickShow':this.appService.progressData.describeFlag===4}" (click)="pageShow(4) ">
                <span>诊断流程</span>
            </li>
            <li [ngClass]="{ 'clickShow':this.appService.progressData.describeFlag===5} " (click)="pageShow(5) ">
                <span>故障原因</span>
            </li>
            <li [ngClass]="{ 'clickShow':this.appService.progressData.describeFlag>=6&&this.appService.progressData.describeFlag<=18} "
                (click)="pageShow(6) ">
                <span>诊断方法</span>
            </li>
        </ul>
    </div>
</div>