<!--功能 页面-->
<div class="function-body">
  <img src="./assets/images/function/function_bg.png" style='width:790px;height:370px;display:block;margin:0 0 0 20px;' alt="">
  <div class="tyre-trail1">
    <img src="./assets/images/function/tyre_trail1.png" alt="" />
  </div>
  <div class="tyre-trail2">
    <img src="./assets/images/function/tyre_trail2.png" alt="" />

  </div>
  <div class="tyre-trail3">
    <img src="./assets/images/function/tyre_trail3.png" alt="" />

  </div>
  <div class="tyre-trail4">
    <img src="./assets/images/function/tyre_trail4.png" alt="" />
  </div>
  <div class="tyre-trail5">
    <img src="./assets/images/function/tyre_trail5.png" alt="" />
  </div>
  <div class="tyre-trail6">
    <img src="./assets/images/function/tyre_trail6.png" alt="" />
  </div>
  <div class="tyre-trail7">
    <img src="./assets/images/function/tyre_trail7.png" alt="" />
  </div>
  <div class="tyre-trail7-mask"></div>
  <div class="arrow-turnBox">
    <div class="arrow-turn2" id="arrow-turn2"></div>
  </div>

  <div class="line1 line"></div>
  <div class="line2 line"></div>
  <div class="line3 line"></div>
  <div class="line3-1 line"></div>
  <div class="line4 line"></div>
  <div class="line5 line"></div>
  <div class="line6 line"></div>
  <div class="line7 line"></div>

  <div class="arrow1 arrow"></div>
  <div class="arrow2 arrow"></div>
  <div class="arrow3 arrow"></div>
  <div class="arrow4 arrow"></div>

  <div id="redpointbox">
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <!--<div class="redpoint"></div>-->
    <!--<div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>
    <div class="redpoint"></div>-->


  </div>
</div>
